<html lang="en">
    <head>
       <title></title>
        <style>
            .button-container {
                max-width: 90px;
                display: block;
                background-color: #009846;
                padding: 20px;
                color: #FFFFFF;
                border-radius: 5px;
                font-weight: 700;
                text-align: center;
            }
        </style>
    </head>
    <body>
        <div class="wrapper">
            <div class="text">
                <p>Welcome to the SecondHandHaven. To confirm the email address, click here:</p>
            </div>
            <a class="button-container" href="{{sender.link}}" target="_blank">Confirm email</a>
        </div>
    </body>
</html>
