<html lang="en">
    <head>
        <title></title>
        <style></style>
    </head>
    <body>
        <div class="wrapper">
            There are insufficient funds to transfer money to the seller. <br>
            OrderID: {{sender.orderId}}
            total: {{sender.amount}}
        </div>
    </body>
</html>